[Unit]
Description=listen for new files and save parts to redis
After=network.target

[Service]
Type=simple
# The user is provided via cd
User=${USER}
# The working directory is provided via cd
WorkingDirectory=${WORKING_DIRECTORY}
ExecStart=/usr/bin/python3 /home/pure-ftpd-server/final-task-tornado-python/src/main.py
Restart=on-failure
RestartSec=10
KillMode=control-group

[Install]
WantedBy=multi-user.target
